# Node.js (Frontend)
node_modules/
npm-debug.log
yarn-error.log
.env.local
dist/
build/

# Java (Backend)
target/
.gradle/
build/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd

# Python (ML Model)
__pycache__/
*.pyc
*.pyo
venv/
.env
*.h5
*.pkl
*.model
data/*.csv
*.ipynb_checkpo
